/*BG*/

.W_miniblog{
    background-attachment: fixed;
}
/*Layout*/
/*Left navs*/
.W_main_l{
    padding: 0 0;
}

#pl_leftnav_common{
    background-color:#fff;
	border-radius: 3px;
	background-clip: padding-box;
}

div[node-type="left_fixed"]{
    background-color:#fff;
	border-radius: 3px;
	background-clip: padding-box;
}

#pl_leftnav_app{
    background-color:#fff;
	border-radius: 3px;
	background-clip: padding-box;
}
/*Center content*/
#plc_main{
	/*background-color: #f5f5f5;*/
}
#Box_center{
    background-color:#fff;
    margin-left:10px;
	border-radius: 3px;
}

/*Right box top container*/
#Box_right{
	display:none;
}
#pl_content_biztips{
	display:none;
}

/**
 * Weibo items
 * */
.WB_feed_type{
	cursor: pointer;
	margin:0;
}
.WB_feed_type:hover{
	background-color:#f5f5f5;
}
.WB_feed_new{
}

.WB_feed .WB_media_list {
	display: none;
}
.WB_func {
	/*visibility: hidden;*/
}
/* Twitter Style*/
.module {
	position: relative;
	margin-bottom: 10px;
	line-height: 13px;
	border-radius: 3px;
	background-clip: padding-box;
}

#pl_content_publisherTop{
    display:none;
}

#pl_content_homeFeed .right_item:first-child{
    display:none;
}

/*Hide bottom ADs*/
[ad-data]{
display:none;
}

